<a href="https://colab.research.google.com/github/soyeunju/Python-100/blob/main/Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Part 1_코드를 구성하는 기본 도구 -출력, 변수, 연산자
### 1. 글자 출력하기
다음과 같이 출력하도록 코드를 작성하세요.

```
실행결과

makit “code” lab

she’s gone
```

In [1]:
print('makit "code" lab')
print("she's gone")

makit "code" lab
she's gone

* 문자열 출력시 큰따옴표 혹은 작은따옴표 사이에 입력

### 2. 숫자 저장하기
10과 20을 각각 변수 a와 b에 저장하고 다음과 같이 출력하도록 코드를 작성하세요.
```
실행결과

a의 값은 10

b의 값은 20

a와 b의 합은 30
```

In [4]:
a = 10
b = 20
print('a의 값은',a)
print('b의 값은',b)
print('a와 b의 합은',a+b)

a의 값은 10
b의 값은 20
a와 b의 합은 30

### 3. 'makit' 곱하기 3
```
다음과 같이 변수 a와 b에 숫자 10과 문자열 ‘makeit’를 각각 저장하고, 각 변수에 곱하기 3을 한 결과가 무엇인지 적어 보세요.

a = 10
b = 'makit'
print (a * 3)
print (b * 3)
```

In [5]:
a = 10
b = 'makit'
print (a * 3)
print (b * 3)

30
makitmakitmakit

* 문자열에 숫자를 곱하는 것은 문자열을 곱한 숫자만큼 문자열을 반복해서 붙인다는 의미

### 4. 하나 빼기, 하나 더하기 연산자

아래 코드를 수행하였을 때 결과가 어떻게 나올지 적어 보세요.
```
m=1
print(m)
m=m+1
print(m)
m+=1
print(m)
m=m-1
print(m)
m-=1
print(m)
```

In [6]:
m=1
print(m)
m=m+1
print(m)
m+=1
print(m)
m=m-1
print(m)
m-=1
print(m)

1
2
3
2
1

### 5. 몫 연산자(//)와 나머지 연산자(%)

30을 8로 나눈 몫과 나머지를 각각 변수 a와 b에 저장하고 다음과 같이 출력하는 코드를 작성하세요.

```
실행결과

30을 8로 나눈 몫은 3

30을 8로 나눈 나머지는 6

30을 8로 나눈 결과는 3.75
```
| 설명 | 기호 |
| --- | --- |
| 나누기 결과 얻는 연산자 | / |
| 나누기 결과의 몫을 구하는 연산자 | // |
| 나누기 결과의 나머지를 구하는 연산자 | % |

In [9]:
print('30을 8로 나눈 몫은',30//8)
print('30을 8로 나눈 몫은',30%8)
print('30을 8로 나눈 몫은',30/8)

30을 8로 나눈 몫은 3
30을 8로 나눈 몫은 6
30을 8로 나눈 몫은 3.75

## Part 2_컴퓨터와 묻고 답하기 그리고 문자열 다루기
###6. 문자열과 문자열 붙이기
다음 코드의 실행 결과를 적어 보세요.
```
print(12+34) #숫자끼리 더하기
print('12'+'34') #문자열 붙이기, 연결하기
print(2**3) #2의 3제곱
```

In [10]:
print(12+34) #숫자끼리 더하기
print('12'+'34') #문자열 붙이기, 연결하기
print(2**3) #2의 3제곱

46
1234
8

### 7. 한 줄 띄기

다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.

```
실행결과

시은 우진 화이팅!!

시은 우진 화이팅!!
```

In [12]:
# 풀이
a = '시은 우진'
print(a,' 화이팅!!')
print()
print(a)

시은 우진  화이팅!!

시은 우진

In [14]:
# 정답
a = '시은 우진'
a = a+' '+'화이팅!!'
print(a)
print() # 한 줄 띄기
print(a)

시은 우진 화이팅!!

시은 우진 화이팅!!

### 8. 입력받아 컴퓨터랑 대화하기

이름과 나이를 키보드로 입력받은 값을 각각 변수 name과 age에 저장하고 다음과 같이 출력하는 코드를 작성하세요.
```
실행결과

이름이 무엇인가요? **메이킷**

몇 살인가요? **17**

메이킷 님은 내년에는 18살이 됩니다.
```

In [19]:
name = input('이름이 무엇인가요')
age = int(input('몇 살인가요'))
print(name,'님은 내년에는',age+1,'살이 됩니다.')

이름이 무엇인가요메이킷
몇 살인가요17
메이킷 님은 내년에는 18 살이 됩니다.

* 키보드로 입력 받아 변수에 저장하는 함수는 input() 함수. 입력받은 자료형은 기본적으로 문자열 자료형이 됨
* 키보드 입력으로부터 문자열 10을 입력받고, 변수 a에 숫자 10으로 저장하려면 int()함수를 사용해 정수 자료형으로 변환해야함

### 9. 두 수를 입력받아서 합과 평균 구하기

정수와 실수를 각각 변수 a, b에 입력받아 두 숫자의 합과 평균을 구하는 코드를 작성하세요.

```
#입력

3

2.5

#출력

a와 b의 합은 5.5

a와 b의 평균값은 2.75
```

In [24]:
a = int(input('number1'))
b = float(input('number2'))
print('a와 b의 합은',a+b)
print('a와 b의 평균값은',(a+b)/2)

number13
number22.5
a와 b의 합은 5.5
a와 b의 평균값은 2.75

* 정수는 int()함수를, 실수는 float()함수를 사용

### 10. 문자열에서 하나의 문자 뽑아내기

makeit 문자열 변수를 활용해 아래와 같은 실행 결과가 나오도록 코드의 빈칸을 완성하세요.

```
실행결과

S

W

!
```

In [25]:
makit='Sieun Woojin!'
result=makit[0]
print(result)

result=makit[6]
print(result)

result=makit[-1]
print(result)

S
W
!