<a href="https://colab.research.google.com/github/soyeunju/Python-100/blob/main/Week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 5
### 49. 로켓 발사 1

In [ ]:
for i in range(1,11):
  print(i)
print('발사!')

1
2
3
4
5
6
7
8
9
10
발사!

* range(n,m): 반복을 m-n번 수행하면서 i에서는 n부터 m-1까지의 숫자가 대입 됨.

### 50. 로켓 발사 2

In [ ]:
i = 1
while(i < 11):
  print(i)
  i+=1
print('발사')

1
2
3
4
5
6
7
8
9
10
발사

### 51. 로켓 발사 10초 전

In [ ]:
sec = int(input('카운트다운 몇 초 전인가요?'))
for i in range(10,0,-1):
  print(i)
print('발사!')

카운트다운 몇 초 전인가요?10
10
9
8
7
6
5
4
3
2
1
발사!

### 52. 1부터 100까지 모두 합한 수 1

In [ ]:
num = int(input('입력'))
sum = 0
for i in range(1,num+1):
  sum = sum + i
print('1부터',num,'까지 모두 더한 합은',sum)

입력10
1부터 10 까지 모두 더한 합은 55

### 53. 1부터 100까지 모두 합한 수 1

In [ ]:
num = int(input('입력'))
sum = 0
i = 1
while(i<num+1):
  sum += i
  i+=1

print('1부터',num,'까지 모두 더한 합은',sum)

입력10
1부터 10 까지 모두 더한 합은 55

### 54. 음수가 나올 때까지 반복하기

In [ ]:
while(num>=0):
  num = int(input('숫자를 입력하세요'))
  if num<0:
    print('종료합니다')
  else:
    print('입력된 숫자는',num)

숫자를 입력하세요10
입력된 숫자는 10
숫자를 입력하세요7
입력된 숫자는 7
숫자를 입력하세요100
입력된 숫자는 100
숫자를 입력하세요-1
종료

### 55. 옆으로 출력하기
다음과 같이 1부터 10까지 공백을 포함해서 한 줄로 출력하는 코드를 작성하세요

In [ ]:
for i in range(1,11):
  print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

* end 키워드는 한 줄을 띄우지 않고, 현재 출력하고자 하는 위치가 마지막 출력된 문자의 바로 옆이 됨

### 56. '1+2+3+4+5 = 15'

In [ ]:
num1 = int(input('첫 번째 숫자를 입력하세요'))
num2 = int(input('두 번째 숫자를 입력하세요'))

sum = 0
for i in range(num1,num2+1):
  sum += i
  if i != num2:
    print(i,end = '+')
  else:
    print(i, end = '=')
print(sum)

첫 번째 숫자를 입력하세요1
두 번째 숫자를 입력하세요10
1+2+3+4+5+6+7+8+9+10=55

### 57. 짝수들만 합하기

In [ ]:
num1 = int(input('첫 번째 숫자를 입력하세요'))
num2 = int(input('두 번째 숫자를 입력하세요'))

sum = 0
for i in range(num1,num2+1):
  if i%2==0:
    sum +=i
print(num1,'부터',num2,'까지 짝수들만의 합은',sum)

첫 번째 숫자를 입력하세요1
두 번째 숫자를 입력하세요10
1 부터 10 까지 짝수들만의 합은 30

### 58. 독특한 삼각뿔 주사위, 이중 반복문

In [ ]:
cnt = 0
for i in range(1,5):
  for j in range(4,8):
    print('첫 번째 주사위 값',i,'두 번째 주사위 값',j,'합',i+j)
    cnt+=1
print('가능한 첫 번째 두 번째 주사위의 경우의 수',cnt)

첫 번째 주사위 값 1 두 번째 주사위 값 4 합 5
첫 번째 주사위 값 1 두 번째 주사위 값 5 합 6
첫 번째 주사위 값 1 두 번째 주사위 값 6 합 7
첫 번째 주사위 값 1 두 번째 주사위 값 7 합 8
첫 번째 주사위 값 2 두 번째 주사위 값 4 합 6
첫 번째 주사위 값 2 두 번째 주사위 값 5 합 7
첫 번째 주사위 값 2 두 번째 주사위 값 6 합 8
첫 번째 주사위 값 2 두 번째 주사위 값 7 합 9
첫 번째 주사위 값 3 두 번째 주사위 값 4 합 7
첫 번째 주사위 값 3 두 번째 주사위 값 5 합 8
첫 번째 주사위 값 3 두 번째 주사위 값 6 합 9
첫 번째 주사위 값 3 두 번째 주사위 값 7 합 10
첫 번째 주사위 값 4 두 번째 주사위 값 4 합 8
첫 번째 주사위 값 4 두 번째 주사위 값 5 합 9
첫 번째 주사위 값 4 두 번째 주사위 값 6 합 10
첫 번째 주사위 값 4 두 번째 주사위 값 7 합 11
가능한 첫 번째 두 번째 주사위의 경우의 수 16

### 59. RGB로 색깔 표현하기

In [ ]:
color = 0
for i in range(256):
  for j in range(256):
    for k in range(256):
      color += 1

print('가능한 색깔 개수는', color)

가능한 색깔 개수는 16777216

### 60. 사각형 별 찍기

In [ ]:
for i in range(4):
  for j in range(4):
    print('*',end = '')
  print()

****
****
****
****

* print()를 넣어줌으로서 마으서 커서 한 줄 띄기

### 61. 삼각형 별 찍기1

In [ ]:
for i in range(5):
  for j in range(i+1):
    print('*',end = '')
  print()

*
**
***
****
*****

### 62. 대각선 별 찍기

In [ ]:
for i in range(5):
  for j in range(5):
    if i == j:
      print('*',end = '')
    else:
      print(' ',end = '')
  print()

*
 *
  *
   *
    *

### 63. 삼각형 별 찍기2

In [ ]:
for i in range(5):
  for j in range(6-i):
    print('*',end = '')
  print()

******
*****
****
***
**

### 64. 삼각형 별 찍기 3

In [ ]:
j = 0
for i in range(1,4):
  print(' '*(3-i),end = '')
  print('*'*(i+j))
  j +=1

  *
 ***
*****

### 65. X 모양 별 찍기

In [ ]:
for i in range(10):
  for j in range(10):
    if i == j or i + j == 9:
      print('*',end = '')
    else:
      print(' ',end = '')
  print()

*        *
 *      *
  *    *
   *  *
    **
    **
   *  *
  *    *
 *      *
*        *

### 66. for 반복문과 문자열의 만남

다음과 같이 문자열을 입력받아서 문자열에 포함된 문자 중에서 `'a'` 문자는 제외하고 출력하는 코드를 작성하세요.

In [1]:
mystring=input('하나의 문자열을 입력하세요: ')

for i in mystring:
	if i!='a':
		print(i, end='')

하나의 문자열을 입력하세요: apple
pple

### 67. for 반복문과 리스트의 만남

내 친구 이름 명단이 있는 리스트를 활용해 다음과 같이 1번부터 번호를 생성해 친구를 소개하는 문구를 출력하는 코드를 작성하세요.

In [2]:
friends=['우진','시은','메이킷','지연','지훈']

cnt=1
for i in friends:
	print(cnt, '번 친구',i,'을 소개합니다.')
	cnt+=1

1 번 친구 우진 을 소개합니다.
2 번 친구 시은 을 소개합니다.
3 번 친구 메이킷 을 소개합니다.
4 번 친구 지연 을 소개합니다.
5 번 친구 지훈 을 소개합니다.

### 68. 다음 반복문으로 바로가기(continue)

다음과 같이 1부터 30까지 출력하되 5의 배수는 출력하지 않도록 코드를 작성하세요.

In [3]:
for i in range(1, 31):
	if i%5==0:
		continue
	else:
		print(i, end=' ')

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29

### 69. 반복문 깨고 바로 나가기(break)

다음과 같이 규칙에 따라 숫자가 나열된 것을 수열이라고 합니다. 3부터 시작해서 5씩 더해지는 수열이 있다면 수열의 100번째 숫자는 무엇인지 구하는 코드를 `for` 반복문을 사용해서 작성하세요.

*3 8 13 18 23 ...*

*23은 수열의 5번째 숫자입니다.*

In [4]:
cnt=1

for i in range(3, 100000,5):
	if cnt==100:
		print(i)
		break
	cnt+=1

498